<!doctype html>
<head>
	<title>Shitting Navigator 🧭</title>
	<script src="/static/base.js"></script>
	<link href="/static/base.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
  
</head>
<body>
	<h1><cb style="color:#F4F2F3; padding: 5px;">💩</cb></h1>
  <h1><cb style="color:#F4F2F3; padding: 5px;">Zone</cb></h1>


  <a href ="/3"><button onclick = getLocation()>Find a Bathroom</button></a>
  
	<a href="/2"><button>Review a Bathroom</button></a>

  <a href="/4"><button>New Bathroom</button></a>
  
</body>
