<head>
	<title>You Found A New Bathroom!</title>
	<script src="/static/base.js"></script>
	<link href="/static/base.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet"> 
</head>
<body>
	<h1>Found a New Bathroom</h1>
  <form>
  <label for="Location Name">Name of Location:</label><br>
  <input type="text" id="fname" name="fname"><br>
</form>
<p>Is the Bathroom Public or Private?</p>

<form>
  <input type="radio" id="Pub" name="bathroom" value="Pub">
  <label for="Pub">Public</label><br>
  <input type="radio" id="Priv" name="bathroom" value="Priv">
  <label for="Priv">Private</label><br>
</form>
  
<p>Is the Bathroom Gender Neutral Friendly?</p>
  <form>
  <input type="radio" id="yes" name="GN" value="yes">
  <label for="yes">Yes</label><br>
  <input type="radio" id="No" name="GN" value="No">
  <label for="No">No</label><br>
</form>


<a href="/"><button>Submit</button></a>
</body>
