<head>
	<title>You Found A New Bathroom!</title>
	<script src="/static/base.js"></script>
	<link href="/static/base.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap" rel="stylesheet"> 
</head>
<body>
	<h1>Found a New Bathroom</h1>
  <form action = "/4" method = "POST">
  <label for="Location Name">Name of Location:</label>
  <input type="text" id="fname" name="fname">
</form>
<p>Rate 1-10</p>

<form action = "/4" method = "POST">
  <label for="Cleaniness">Cleaniness:  </label>
    <input type="text" id="fclean" name="fclean">
  </form>
  <form action = "/4" method = "POST">
    <label for="Smell">Smell:</label>
    <input type="text" id="fsmell" name="fsmell">
  </form>
  <form action = "/4" method = "POST">
    <label for="Accesiblity">Acessibilty:</label>
    <input type="text" id="facess" name="facess">
  </form>


<a href="/"><button>Submit</button></a>
</body>
